page-order-history {
.Success{
    float: right;
    // padding: 5px;
    background-color: #2de02d;
    position: absolute;
    right: 0px;
    top: 26px;
}
.card{
    margin: 0px;
    width: calc(100% - 0px);
}
.item ion-thumbnail {
    min-height: 87px;
}
.p-t-35{
    padding-top: 35px;
}
}
