page-fresh-vegitables {
.h-w-20{
    height: 20px;
    width: 20px;
}
.footer_bg{
    background-color:  #a2c359;
    height: 11%;
}
.cart_btn{
    width: 100%;
  //  border-radius: 10px;
    background-color:  #758d42;
}
.m-w-50{
    max-width: 50%;
}
.m-p{
    max-width: 22%;
    padding: 16px;
}
.w-36{
    width: 36%;
}
}
