page-profile {
.p-14{
    padding: 8px;
}
.prof-pic{
    position: absolute;
    left: 7px;
}
.button-outline{
    border-color: gray;
    color: gray;
}
.item{
    padding-left: 10px;
}
.img-r{
    border: 1px solid gray;
    border-radius: 50%;
}
.item{
    padding-left: 0px;
}
// .card{
//     width: calc(100% - -7px);
// }
.color-g{
     color: #758d42;
}
}
.p-l-25{
    padding-left: 25px;
}
