page-wish-list {

    .imgheart{
        height: 20px;
        width:20px;
        float: right;
    }
    .h-w-25{
        height: 25px;
        width: 25px;
        float: right;
        bottom: 52px;
        position: relative;
        
    }
    .close{
        position: relative;
        float: right;
        bottom: 43px;
        /* left: 2px; */
        right: 32px;
    }
    .num{
        position: relative;
        bottom: 42px;
        left: 7px;
    }
    .h-w{
        height: 20px;
        width: 20px;
        position: relative;
        float: right;
        bottom: 45px;
        right: 31px;
        
    }
    .h-w-add{
        bottom: 76px;
        left: -14px;
        height: 20px;
        width: 20px;
        position: relative;
        float: right;
        right: 31px;
    }
    .full-width{
        width: 100%;
        height: 210px;
    }
    }
    .h-w-20{
        height: 20px;
        width: 20px;
    }
    .float-right{
        float: right !important;
    }
    .row-right{
        right: 7px;
        position: absolute;
    }
    .h-w-106{
        height: 106px;
        width: 106px;
    }
