page-shopping-trolley {

    .h-w-29{
        height: 23px;
        width: 23px;
    }
    .ic-remove{
        padding: 0px;
        left: 20px;
        bottom: 1px;
    }
    .ic-add{
        right: 16px;
        bottom: 1px;
    }
    .p-3{
        padding: 3px;
    }
    .p-l-9{
        padding-left: 9px;
    }
    .p-l-5{
        padding-left: 5px;
    }
}
